name: Generate Ascii Artwork
on:
    push
jobs:
    ascii-job:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v4

        - name: List repo files
          run: ls -ltra

        - name: Install cosway Peogram
          run: |
            chmod +x ascii-script.sh
            ./ascii-script.sh